/* Our CSS file. */
.container, .content {
width: 100%;
}
.content{
    display: inline-block;
}
.section{
    width: 49%;
    display: inline-block;
}
img{
    width: 100%;
}
.align-top{
    vertical-align: top;
}
.align-center{
    vertical-align: 350px;
}